/* Removes default spacing and applies border-box sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    position: sticky;
    top: 0;
    text-align: center;

    background-color: #f2efb3;
    color: #262930;

    border-bottom: 3px solid #444444;
}

/* Main */
main {
    width: 80%;
    margin: 20px auto;

    background-color: #a7c98a;
    color: #182018;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;

    background-color: #b7e4f7;
    color: #1c2730;
}

/* Paragraph styling */
p {
    padding: 1em;
}
